.pagination-container {
  display: flex;
  justify-content: right;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;

}

.pagination-button {
  margin: 0 5px;
  padding: 8px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.pagination-button:hover {
  background-color: #f0f0f0;
}

.pagination-button.active {
  font-weight: bold;
  background-color: #e0e0e0;
}

.pagination-ellipsis {
  margin: 0 5px;
  font-weight: bold;
}