.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-family: Arial;
}

.Controls-button{
  width: 75px;
  height: 21px;
  top: 100px;
  left: 1131px;
}


.Basket-empty {
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Controls-basket {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  margin-right: 20px;
}

.Basket-text {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

