.BasketTool {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-link {
  color: rgb(0, 135, 233);
  text-align: left;
  margin-right: auto;
}

.BasketTool-link:active {
  color: rgb(86, 107, 119);
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
